{% extends 'base.html' %}
{% load static %}

{% block title %}Add Event{% endblock title %}

{% block content %}
<body class="homebg">
    

<center>
<b><h1 style="font-size: 45px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding-top: 35px;">Book a live painting event</h1></b>
<br>
<h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Karla will provide you with a quote after discussing details of your event</h2>
<br>
{% if submitted %}
    Your Event Was Submitted Successfully!

{% else %}
<div class="container-fluid">

<form action="" method="POST" style="width:65%;">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endif %}
</div>
    
</center>
</body>
{% endblock content %}
