{% extends 'base.html' %} 
{% load static %}
{% block title %}Events{% endblock title %} 

{% block content %} 
<body>
<center>
<h1 style="
    padding: 55px;
    padding-bottom: 50px;
    text-decoration: underline;
    font-size: 65px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
>Booked Live Painting Events</h1>
</center>

    {% for event in event_list %}
    <center>
    <div class="card mb-3" style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; max-width: 30rem; border: 3px solid rgb(173, 132, 99);">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'img/wbklogo.jpg' %}" class="img-fluid rounded-start" alt="... " style="border-radius: 50%;">
                </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.description | truncatechars:250 }}</h5>
                            <p class="card-text">{{ event.event_date }}</p>
                            <p class="card-text"><small class="text-body-secondary">{{ event.venue }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    </center>
    {% endfor %}
</body>
{% endblock content %}