{% extends 'base.html' %}
{% load static %}

{% block title %}About Page{% endblock title %}

{% block content %}
<body style="background-image:url('{% static "img/karla.jpeg" %}'); background-repeat:no-repeat; background-size: 1600px 2000px;">

<center>
<h1 style="padding:25px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><u>Live Painting Event Information</u></h1>
</center>
<br><br>
<div class="container">
    <center>
<img id="about1" src="{% static 'img/about.jpeg' %}" alt=""></center> 
    </div>
    </body>
{% endblock content %}