{% extends 'base.html' %}
{% load static %}

{% block title %}Pricing{% endblock title %}

{% block content %}
<body class="homebg" >

    <div class="container">
        
        <center>
        <h3 style="padding-top: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">PRICING BELOW IS FOR COUPLE'S PORTRAIT PAINTING</h3>
        <img style="height: auto; width: 100%;"id="pricingImage" src="{% static 'img/newpricing.jpg' %}" alt="pricing information on watercolor livepaint event">
        </center>
    </div>

    <br><br>
    <div class="container">
        
        <center>
        <h3 style="padding-top: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">PRICING BELOW IS FOR GUEST PAINTING PACKAGES</h3>
        <img style="height: auto; width: 100%;"id="pricingImage" src="{% static 'img/newPricing1.jpg' %}" alt="pricing information on watercolor livepaint event">
        </center>
    </div>
    
</body>
<br><br>

{% endblock content %}
