{% extends 'base.html' %}
{% load static %}

{% block title %}Pricing{% endblock title %}

{% block content %}
<body class="homebg" >

    <div class="container">
        
        <center>
        <h3 style="padding-top: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Pricing is for 5" x 7" guest portraits.</h3>
        <h5 style="padding-top: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">I'm also fluent in Spanish for non-english speaking clients.</h5>
        <img style="height: auto; width: 100%;"id="pricingImage" src="{% static 'img/newPricing.JPG' %}" alt="pricing information on watercolor livepaint event">
        </center>
    </div>
    
</body>
<br><br>

{% endblock content %}
