.navbar {
    color: white;
}

#about1{
    margin: 25px;
    height: 1400px;
    width: 900px;
}
.homebg {
    background-color: rgb(231, 216, 173);
    
}

.homebg img{
    align-items: center;
    
}
#home1 {
    color: rgb(26, 24, 24);
    font-size: 100px;
    display: inline-block;
    font-family:cursive;
    padding-left: 500px;
}

#welcome1 {
    
    border: solid 1px rgb(150, 149, 146);
    padding: 10px;
    height: 700px;
    width: 700px;
}

#pricingImage {
    margin: 50px;
    padding: 10px;
    align-items: center;
    height: 1300px;
    width: 1000px;
    border: solid 1px rgb(150, 149, 146);
}

#events_list {
    padding: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    width:100%;
    padding-top: 300px;
    padding-bottom: 50px;

}