*{
    margin: 0;
}
body {
    margin:0px;
    width:100%;
    height:100%;
    padding:0px;
}

#about1{
    margin: 25px;
    height: 1400px;
    width: 900px;
}
.homebg {
    background-color: rgb(248, 248, 247);
    
}

.homebg img{
    align-items: center;
    
}


#welcome1 {
    display: flex;
    border: solid 3px rgb(63, 58, 45);
    margin: 6rem;
    padding: 10px;
    height: 50rem;
    width: 50rem;
}

#pricingImage {
    margin: 50px;
    padding: 10px;
    align-items: center;
    height: 1300px;
    width: 1000px;
    border: solid 1px rgb(150, 149, 146);
}

#events_list {
    padding: 50px;
}

.footer {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

}

.nav-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}